# The Caddyfile is an easy way to configure your Caddy web server.

rbr.bio {
	reverse_proxy localhost:8080
}

eu.rbr.bio {
	reverse_proxy localhost:8080
}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
