# The Caddyfile is an easy way to configure your Caddy web server.

rbr.bio {
	encode zstd gzip
	@sveltekit {
		path_regexp npub([a-z0-9]{59})$

	}
	reverse_proxy @sveltekit localhost:4173

	@sveltekit2 {
		path_regexp app|worker

	}
	reverse_proxy @sveltekit2 localhost:4173 eu.rbr.bio:2000 {
             lb_policy first
             lb_retries 1
        }

	@sveltekit3 {
		path_regexp /$

	}
	reverse_proxy @sveltekit3 localhost:4173 localhost:8080 eu.rbr.bio:2000 {
             lb_policy first
             lb_retries 1
        }

	reverse_proxy localhost:8080 eu.rbr.bio:2000 {
             lb_policy first
             lb_retries 1
        }

}

# SSL port without retries
us.rbr.bio:2000 {
	encode zstd gzip
	@sveltekit {
		path_regexp npub([a-z0-9]{59})$

	}
	reverse_proxy @sveltekit localhost:4173

	@sveltekit2 {
		path_regexp app

	}
	reverse_proxy @sveltekit2 localhost:4173

	reverse_proxy localhost:8080
}

eu.rbr.bio:2000 {
	encode zstd gzip
	@sveltekit {
		path_regexp npub([a-z0-9]{59})$

	}
	reverse_proxy @sveltekit localhost:4173

	@sveltekit2 {
		path_regexp app

	}
	reverse_proxy @sveltekit2 localhost:4173

	reverse_proxy localhost:8080
}

eu.rbr.bio {
	encode zstd gzip
#	@sveltekit {
#		path_regexp npub([a-z0-9]{59})$
#
#	}
#	reverse_proxy @sveltekit localhost:4173
#
#	@sveltekit2 {
#		path_regexp app
#
#	}
#	reverse_proxy @sveltekit2 localhost:4173

	reverse_proxy localhost:8080
}

us.rbr.bio {
	encode zstd gzip
	reverse_proxy localhost:8080
}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
