[Unit]
Description=Relay Info service (rbr.bio)
Documentation=https://rbr.bio
After=network.target

[Service]
Environment=NODE_OPTIONS="--max-old-space-size=8192"
Type=simple
User=root
ExecStart=/usr/bin/tsx /root/nostr-relay-info-server/index.mts --update-data --relay-info-server-host localhost --allow-global-subscriptions --allow-continuing-subscriptions
Restart=on-failure
WorkingDirectory=/root/nostr-relay-info-server

[Install]
WantedBy=multi-user.target


